################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AngularJSAuthentication.Web/obj/Debug
/AngularJSAuthentication.Web/bin
/AngularJSAuthentication/obj/Debug
/AngularJSAuthentication/bin
/AngularJSAuthentication.API/obj/Debug
/AngularJSAuthentication.API/bin
